@font-face {
    font-family: optima;
    src: url(../fonts/Optima\ Medium.ttf);
}
.header {
    display: flex;
    width: 100%;
    background-color: transparent;
    padding-top: calc(40rem * 0.0625);
    padding-bottom: calc(20rem * 0.0625);
    flex-wrap: nowrap;
    border-bottom: 5px solid rgba(24,148,209, 0.5);
    font-family: optima;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
}

.header-left {
    display: flex;
    align-items: center;
    width: 40%;
    flex-wrap: nowrap;
}

.header-left img {
    height: calc(55.52rem * 0.0625);
    width: auto;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    flex-wrap: nowrap;
}

.link-wrapper {
    padding-left: 3.5rem;
}

.link-wrapper a {
    
    font-size: calc(22rem * 0.0625);
}

@media (max-width: 1024px) {
    .header-left img {
        height: calc(30rem * 0.0625);
        width: auto;
    }
    .link-wrapper {
        padding-left: 0.5rem;
    }
    .link-wrapper a {
        font-size: calc(12rem * 0.0625);
    }
}